* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

body {
  /* top: 0;
  left: 0; */
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: lightgoldenrodyellow;
  overflow: scroll;
}
