* {
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  overflow: hidden;
}

body {
  top: 70px;
  left: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: slategray;
  overflow-y: scroll;
}
