@import "./functions";

#HomePage,
#searchPage {
  background-color: transparent;

  // .AppNav {
  //   top: 0;
  //   left: 0;
  //   position: fixed;
  //   width: 100%;
  //   height: 70px;
  //   background-color: black;

  //   @include alignCenter();
  //   flex-direction: row;
  //   justify-content: space-around;

  //   li {
  //     color: white;
  //   }
  // }

  // .content {
  //   background-color: transparent;

  p,
  h1 {
    margin: 100px 20%;
  }
  // }
}

#searchPage,
#profilePage {
  p {
    margin: 100px 20%;
  }
}
